html
    head
        title wel
        script(src='javascripts/main.js')
        link(rel='stylesheet', href='stylesheets/style.css')

    body
        #content
            img(src='images/ys.jpg')
            p WELCOME
            #smile
