extends layout

block content
  ul#messages
  form#loginForm
    input.username
    button.login login
  button.logout logout
  form#joinForm
    input.roomname
    button.join join
  button.leave leave
  form#messageForm(action="")
    input#m(autocomplete="off")
    button send
  

  script(src="javascripts/socket.io.js")
  script(src="javascripts/jquery/dist/jquery.min.js")
  script.
    $(function() {
      // io() defaults to connect to namespace /
      var socket = io('/myns');
      var user = {};
      var room = {};

      function genUid() {
        return new Date().getTime()+""+Math.floor(Math.random()*899+100);
      }

      $('#messageForm').submit(function() {
        var tempContent = $('#m').val();
        var msgContent = {
          userid: user.userid,
          username: user.username,
          content: tempContent,
          roomname: room.roomname
        };

        socket.emit('message', msgContent);
        $('#m').val('');
        return false;
      });

      $('#loginForm').submit(function() {            
          user.userid = genUid();
          user.username = $('input.username').val();
          socket.emit('login', user);
          return false;
      });

      $('button.logout').click(function() {
        location.reload();
      });

      $('#joinForm').submit(function() {
        room.username = user.username;
        room.oldroomname =room.roomname; 
        room.roomname = $('input.roomname').val();
        socket.emit('join', room);     
        return false;   
      });

      $('button.leave').click(function() {
        
        room.oldroomname = room.roomname;
        room.roomname = "";
        socket.emit('leave', room);
      });
      
      function addMessage(msg) {
        $('#messages').append($('<li>').text(msg));
      }

      socket.on('login', function(o) {
        addMessage(JSON.stringify(o));
      })

      socket.on('logout', function(o) {
        addMessage(JSON.stringify(o));
      })

      socket.on('message', function(o) {
        addMessage(JSON.stringify(o));
      })

      socket.on('chat message', function(msg) {
        addMessage(msg);
      });
    });
