doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
      * { 
        margin: 0;
        padding: 0;
        box-sizing: border-box; 
      } 
      form {

      }


  body    
    block content
